.main{
    padding:2em;
}

.create-post{
    background-color: var(--bg-blue);
    padding:1em;
    border-radius: 15px;
    width:100%;
    max-width: 985px;
    margin:0 auto;
}
.create-post__top{
    display:flex;
    align-items: center;
    gap:5%;
    margin-bottom: 2em;
    position:relative;
}
.create-post__input{
    width:100%;
    height:50px;
    font-size: 1rem;
    background-color: var(--create-post-input);
    border:none;
    padding-left:.5em;
    border-radius: 15px;
    cursor: pointer;
    color:white;
}
.create-post__input--container{
    width:80%;
    position:relative;
}
.create-post__input:hover, .create-post__input:focus{
    outline:none;
    background-color: #454545;
}
.create-post__input::placeholder{
    color:white;
    opacity:.5;
}
@media(max-width:450px){
    .create-post__top .pfp{
        display:none;
    }
    .create-post__top{
        justify-content: center;
    }
    .create-post__input{
        width:95%;
    }
}


.create-post__bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.create-post__file-input{
    display:none;
}

.create-post__file-input--label{
    color:black;
}

.create-post__file-input--label,.create-post__location,.create-post__publish,.privacy-button{
    border:none;
    background-color: var(--create-post-buttons);
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: 500;
    padding:.5em 1em;
    cursor:pointer;
    border-radius: 10px;
    white-space: nowrap;
    display:flex;
    align-items: center;
    gap:5%;
    transition:background-color 150ms ease-in-out;
}
.create-post__file-input--label:hover,.create-post__file-input--label:focus,.create-post__location:hover,.create-post__location:focus,.create-post__publish:hover,.create-post__publish:focus,.privacy-button:hover,.privacy-button:focus{
    outline:none;
    background-color: #0CEE95;
}
.create-post-icon{
    width:25px;
}
.privacy-buttons{
    margin-bottom: 3.5em;
    display:none;
}
.privacy-button{
    display:none;
}
.privacy-button.active{
    display:flex;
}

.location-modal{
    z-index: 1000000000;
    background-color: #0CEE95;
    width:300px;
    height:270px;
    border-radius: 20px;
    position:fixed;
    left:50%;
    transform:translateX(-50%);
    top:30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    opacity:0;
}
.location-modal--active{
    pointer-events: all;
    opacity:1;
}
.location-modal__heading{
    font-weight: bold;
    font-size: 2rem;
}
.location-input{
    background-color: #2A2B71;
    border:none;
    font-size: 1rem;
    padding-block:1em;
    padding-left:1em;
    border-radius: 10px;
    color:white;
}
.location-submit{
    font-size: 1rem;
    padding:.75em 2em;
    border:none;
    background-color: #2A2B71;
    color:white;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 1em;
}
.location-input,.location-submit{
    cursor:pointer;
    transition:background-color 150ms ease-in-out;
}
.location-input:hover,.location-input:focus,.location-submit:hover,.location-submit:focus{
    outline:none;
    background-color: #191A60;
}
.location-error,.file_error{
    margin-top: .5em;
    color:red;
    font-weight: 700;
}
.file_error{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: .5em;
}
.udany_upload{
    color:white;
    background-color: gray;
    padding:.75em 1.25em;
    font-size: 1.5rem;
    border-radius: 10px;
    position:fixed;
    z-index: 10000000;
    left:calc(50% - 169px);
    bottom:25px;
    transform:translateY(200%);
    opacity:0;
    transition:transform 200ms ease-in-out, opacity 100ms ease-in-out;
}

@media(max-width:640px){
    .udany_upload{
        font-size: .9rem;
        left:calc(50% - 101px);
    }
}
@media(max-width:974px){
    .create-post__bottom{
        flex-direction: column;
    }
}
@media(max-width:354px){
    .create-post__location, .create-post__file-input--label,.create-post__publish{
        flex-direction: column;
    }
}
/* create post koniec */


.post{
    background-color: var(--bg-blue);
    width:100%;
    max-width: 985px;
    margin:0 auto;
    margin-top: 2em;
    border-radius: 15px;
    padding:1em;
    position:relative;  
}

.post__header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5em;
    position:relative;
}

.post__author-info{
    display:flex;
    align-items: center;
    gap:10px;
}
.post__author-info__text{
    display:flex;
    flex-direction: column;
    position:relative;
}
.post__author-info__text__bottom{
    display:flex;
    align-items: center;
    gap:15px;
    position:relative;
}
.post__author{
    color:var(--text-color);
}



/* profile overview tooltip */
.profile-overview{
    font-size: 1.1rem;
    background-color: var(--orange);
    display:flex;
    gap:20px;
    position:absolute;
    z-index: 5;
    width:350px;
    padding:1em;
    padding-right: 2em;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    left:-30%;
    opacity:0;
    pointer-events: none;
    transition:opacity 150ms ease-in-out;
}
.profile-overview--active{
    opacity:1;
}
.profile-overview--at-top{
    bottom:-200px;
}
.profile-overview--at-bottom{
    top:-250px;
}
.pfp--overview{
    width:55px;
    height:55px;
}
.profile-overview__author{
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1.5em;
}
.profile-overview__znajomi,.profile-overview__wspolni-znajomi{
    font-size: 1rem;
    font-weight: 500;
    color:var(--grayish-text-color);
    position:relative;
}
.profile-overview__znajomi::before,.profile-overview__wspolni-znajomi::before{
    position:absolute;
    left:-30px;
}
.profile-overview__znajomi::before{
    content:url(../img/icons/znajomi-tooltip-icon.png);
}
.profile-overview__wspolni-znajomi::before{
    content:url(../img/icons/wspolni-znajomi-tooltip-icon.png);
}





/* profile overview tooltip */




.post__author:hover{
    text-decoration: underline;
}

.post__time-ago{
    color:var(--grayish-text-color);
    cursor: pointer;
}

.public-icon{
    fill:var(--text-color);
}
.date-tooltip{
    position:absolute;
    left:-25px;
    background-color: gray;
    color:white;
    text-align: center;
    padding:.5em 1em;
    border-radius: 10px;
    font-size: .8rem;
    top:-35px;
    z-index: 10;
    opacity:0;
    transition: opacity 150ms ease-in-out;
    pointer-events: none;
}
.date-tooltip--active{
    opacity:1;
}


.post__location{
    font-size: 1.2rem;
    font-weight: 700;
    color:var(--text-color);
    position:relative;
    left:20px;
}
.post__location:not(:empty):before{
    content:url(../img/icons/location-icon.png);
    transform:scale(.3);
    position:absolute;
    left:-50px;
    top:-28px;
    
}

.more-icon{
    width:25px;
    cursor:pointer;
}


.post__content, .post__image{
    width:70%;
    max-width: 60ch;
    padding-left:6%;
    color:var(--text-color);
}
.post__content{
    position:relative;
}

.post__numbers{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grayish-text-color);
}
.post__reactions-number{
    display:flex;
    align-items: center;
    gap:5px;
    margin-block: 1em;
    position:relative;
}
.post__reactions-number span{
    color:var(--grayish-text-color);
}
.like-icon{
    fill:var(--text-color);
}
.heart-icon{
    fill:rgb(255, 70, 101);
}

.reactions-details{
    display:flex;
    color:black;
    flex-direction: column;
    gap:5px;
    position:absolute;
    left:-5px;
    top:-70px;
    background-color: gray;
    padding:.5em 1em;
    border-radius: 10px;
    opacity:0;
    pointer-events: none;
    transition:opacity 150ms ease-in-out;
}
.reactions-details--active{
    opacity:1;
}
.reactions-details__row{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}



.post__like-button--container{
    position:relative;
}
.post__reactions-buttons{
    position:absolute;
    top:-69px;
    background-color: gray;
    padding:.5em 1em;
    border-radius: 15px;
    opacity:0;
    pointer-events: none;
    transition:opacity 150ms ease-in-out;
}
.post__reactions-buttons--active{
    opacity:1;
    pointer-events: all;
}

.post__reactions-buttons .like-icon, .post__reactions-buttons .heart-icon{
    transition:transform 200ms ease-in-out;
}
.post__reactions-buttons .like-icon:hover, .post__reactions-buttons .heart-icon:hover{
    transform:scale(1.1);
}

.post__comments-number{
    color:var(--grayish-text-color);
}

.post__interaction-buttons{
    padding-top:1em;
    display:flex;
    justify-content: center;
    gap:10%;
}
.post__interaction-buttons > *,.post__like-button{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 1.3rem;
    padding:.5em 1em;
    font-family: var(--font);
    font-weight: 500;
    border:none;
    background-color: var(--orange);
    border-radius: 15px;
    white-space: nowrap;
    cursor: pointer;
}
.post__interaction-buttons > *:hover,.post__like-button:hover{
    outline:none;
    background-color: #CA8335;
}
.button--liked{
    background-color: rgb(52, 52, 233);
}
.button--liked:hover{
    background-color: rgb(43, 43, 206);
}
.button--hearted{
    background-color: rgb(255, 70, 101);
}
.button--hearted:hover{
    background-color: rgb(226, 63, 90);
}


/* comments */
.comments-tooltip{
    width:60%;
    height:55%;
    position:absolute;
    z-index: 1000;
    bottom: 15px;
    left:20%;
    background-color: #444444;
    border-radius: 15px;
    overflow-y: scroll;
    padding:1em;
    opacity:0;
    pointer-events: none;
}
.comments-tooltip--active{
    opacity:1;
    pointer-events: all;
}
.comments__close-button{
    position:absolute;
    left:7px;
    top:7px;
    cursor:pointer;
}
.comments-tooltip::-webkit-scrollbar{
    display:none;
}
.comment-form{
    position:relative;
    width:95%;
    margin: 0 auto;
}
.comment-input{
    border:none;
    background-color: #777777;
    width:100%;
    height:50px;
    padding-left:1em;
    border-radius: 15px;
    color:lightgray;
    cursor:pointer;
    transition:background-color 150ms ease-in-out;
}
.comment-input:focus{
    background-color: #666666;
    outline:none;
}
.comment-input::placeholder{
    color:#222222;
}
.comment-submit{
    position:absolute;
    right:10px;
    top:calc(50% - 14.7px);
    font-size: .9rem;
    font-weight: 500;
    padding:.5em 1em;
    border:none;
    border-radius: 15px;
    color:white;
    background-color: #4242eb;
    cursor:pointer;
    transition:background-color 150ms ease-in-out;
}
.comment-submit:hover{
    background-color: #3131da;
}


.comment{
    margin-top: 2.5em;
    color:lightgray;
}
.comment+.comment{
    margin-top: 3.5em;
}
.comment__top{
    display:flex;
    align-items: center;
    gap:10px;   
}
.comment__author{
    font-weight: bold;
}
.comment__author a{
    color:inherit;
}
.comment__ago{
    color:rgb(236, 236, 236);
}
.comment__content{
    padding-left:3.5em;
}
.comment__bottom{
    padding-left: 3.5em;
    margin-top: 2em;
    color:rgb(231, 231, 231);
}
.comment__like-button{
    margin-right: 1em;
}
.comment-button--liked{
    color:rgb(52, 52, 233);
}
.comment-button--liked:hover{
    color:rgb(43,43,206);
}
.comment__like-button:hover,.comment__reply-button:hover{
    cursor:pointer;
    text-decoration: underline;
    opacity:.6;
}



@media(max-width: 845px){
    .comments-tooltip{
        position:fixed;
        z-index: 10000;
        top:27%;
        width:85%;
        left:7.5%;
    }
}

/* koniec comments */

@media(max-width:340px){
    .post__header{
        flex-direction: column;
    }
}
@media(max-width:375px){
    .post__numbers{
        flex-direction: column;
    }
}
@media(max-width:991px){
    .post__interaction-buttons{
        flex-direction: column;
        gap:15px;
        width:90%;
        margin:0 auto;
    }
    .post__like-button--container{
        width:100%;
    }
    .post__like-button{
        width:100%;
    }
}



.new-friends{
    background-color: var(--bg-blue);
    padding:1em;
    width:100%;
    max-width: 985px;
    margin:0 auto;
    margin-top: 2em;
    border-radius: 15px;
    color:black;
}
.new-friends h2{
    color:var(--grayish-text-color);
}


.new-friends__article{
    background-color: var(--orange);
    width:200px;
    border-radius: 15px;
    padding-bottom: .5em;
}
.add-friend__img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid black;
}

.new-friends__user-info{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.new-friends__user-name{
    font-weight: bold;
    font-size: 1.1rem;
}
.new-friends__mutual-friends{
    font-size: .85rem;
}

.add-friend-button img{
    width:25px;
}
.add-friend-button{
    font-size: 1rem;
    font-family: var(--font);
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    gap:5px;
    padding:.25em .5em;
    border:none;
    margin:0 auto;
    margin-top: .5em;
    border-radius: 5px;
    cursor:pointer;
    /* transition:background-color 50ms ease-in-out; */
}
.add-friend-button--add{
    background-color: var(--add-friend);
}
.add-friend-button--cancel{
    background-color: var(--cancel-friend-invite);
}
.add-friend-button--delete{
    background-color: var(--delete-friend);
}

.new-friends__blocks{
    display:flex;
    justify-content: center;
    gap:10%;
    padding-block:1.5em;
}
.new-friends__show-all{
    color:var(--grayish-text-color);
    font-size: 1.5rem;
    width:fit-content;
    display:block;
    margin:0 auto;
    text-align: center;
}
.new-friends__show-all:focus,.new-friends__show-all:hover{
    outline:none;
    text-decoration: underline;
}
@media(max-width:1030px){
    .new-friends__blocks{
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
}




/* post options dropdown */
.post-options{
    position:absolute;
    right:-5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--create-post-buttons);
    padding:1em;
    border-radius: 10px;
    z-index: 1000;
    color:black;
    transform: scaleY(0);
    transition:transform 50ms ease-out;
    pointer-events: none;
}
.post-options--active{
    transform: scaleY(1);
    pointer-events: all;
}
.post-options--at-top{
    transform-origin: top;
    top:65px;
}
.post-options--at-bottom{
    transform-origin: bottom;
    bottom:65px;
}
.options-dropdown-close{
    position:absolute;
    top: 8px;
    right:8px;
    cursor:pointer;
}
.options-dropdown-close path{
    fill:red;
}
.post-options__button{
    display:flex;
    align-items: center;
    gap:5px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    background:none;
    cursor:pointer;
    border-radius: 10px;
    padding:.5em;
}
.post-options__button:hover{
    background-color: #0BDD84;
}
.post-options__button img{
    width:35px;
}

.post-saved-popup{
    background-color: gray;
    font-size: 1.5rem;
    padding:.5em 1em;
    border-radius: 25px;
    position:fixed;
    bottom:15px;
    left:calc(50% - 136.5px);
    z-index: 1000000000000;
    transform:translateY(230%);
    transition:transform 150ms ease-in-out;
}
.post-saved-popup--active{
    transform:translateY(0%);
}


.report-post-modal{
    position:fixed;
    z-index: 1000000000;
    background-color: #444444;
    padding:1em;
    left:calc(50% - 166px);
    top:35%;
    border-radius: 20px;
    opacity:0;
    pointer-events: none;
}
.post_report_form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
.report_content{
    background-color: #222222;
    border:none;
    resize: none;
    border-radius: 7px;
    width:300px;
    height:150px;
    color:white;
}
.report_submit{
    cursor:pointer;
    border:none;
    background-color: var(--add-friend);
    color:white;
    font-size: 1.1rem;
    padding:.5em 1em;
    border-radius: 10px;
    transition:background-color 150ms ease-in-out;
}
.report_submit:hover{
    background-color: #2A2B71;
}
.modal-overlay--report{
    background-color: rgba(0,0,0,.5);
    position:fixed;
    inset:0;
    z-index: 1000000;
    opacity:0;
    pointer-events: none;
}




/* post edit */

.post__content{
    display:flex;
    gap:5px;
    align-items: center;
}
@media(max-width:866px){
    .post__content{
        flex-direction: column;
    }
}
.post-edit-input{
    border:none;
    background:none;
    font-size: 1rem;
    color:var(--text-color);
}
.confirm-post-edit{
    cursor:pointer;
    display:none;
}
.stop-editing-post{
    cursor:pointer;
    display:none;
}
.edit--active{
    display:block;
}
.confirm-post-edit path{
    fill:var(--text-color);
}
.stop-editing-post path{
    fill:red;
}



/* post delete */
.delete-post-modal{
    background-color: #444444;
    position:fixed;
    top:45%;
    left:calc(50% - 217px);
    font-size: 1.5rem;
    padding:1em;
    border-radius: 20px;
    opacity:0;
    pointer-events: none;
    z-index: 10000000;
}
.post_delete_form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.delete-post-modal p{
    margin:0;
}
.delete-post-modal button{
    font-size: 1.2rem;
    color:white;
    cursor:pointer;
    border:none;
    border-radius: 15px;
    padding:.5em 1em;
}
.delete-post-modal__buttons{
    display:flex;
    align-items: center;
    gap:20px;
}
.delete-confirm{
    background-color: red;
}
.delete-cancel{
    background-color: green;
}
.modal--report--active{
    opacity:1;
    pointer-events: all;
}



/* wzmianki */
.mention-dropdown{
    position:absolute;
    left:0ch;
    background-color: #333333;
    padding:.5em 0em 1em 0em;
    border-radius: 10px;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    opacity:0;
    pointer-events: none;
}
.mention-dropdown--post{
    left:0ch;
}
.mention-dropdown--edit{
    left:7%;
}
.mention-dropdown--comment{
    left:.2%;
}
.mention-dropdown__element{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    cursor:pointer;
    padding:1em;
    padding-right: 3em;
    border-radius: 20px;
}
.mention-dropdown__element:hover{
    background-color: #444444;
}
.mention-dropdown__element__top{
    display:flex;
    align-items: center;
    align-self: flex-start;
    gap:15px;
}
.mention-friends{
    padding-left: 2em;
}
.mention-dropdown--active{
    opacity:1;
    pointer-events: all;
}
.mention-link{
    color:var(--mention);
    font-weight: 500;
}
.mention-link:hover{
    text-decoration: underline;
}