.footer {
    margin-top: 5em;
}

.footer__top {
    box-shadow: 0px 0px 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    gap: 2em;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.footer__img {
    width: 170px;
}

.footer__text {
    font-size: 1.6rem;
    color: var(--black-65);
    max-width: 40ch;
    line-height: 1.7;
}

.footer__row {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.footer__socialLink {
    font-size: 2.7rem;
    color: var(--black);
}

.footer__nav {
    display: flex;
    gap: 3.5em;
}

.footer__nav__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.footer__navLink {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    transition: var(--transition);
}

.footer__navLink:hover,
.footer__navLink:focus {
    opacity: .6;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    padding-top: 2em;
}

.footer__bottom__text {
    font-size: 2rem;
    color: var(--black-65);
    text-decoration: none;
}

@media(max-width:750px) {

    .footer__top,
    .footer__bottom,
    .footer__nav {
        flex-direction: column;
    }

    .footer__top {
        gap: 4em;
    }

    .footer__left {
        align-items: center;
        text-align: center;
        gap: 2em;
    }

    .footer__nav,
    .footer__bottom {
        gap: 2em;
        text-align: center;
    }
}