.main__nav {
    display: flex;
    align-items: center;
    gap: 3em;
    overflow-x: scroll;
    padding: 1em 1.5em;
}

.main__navLink {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 25em;
}

.navLink__img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid var(--black-65);
}

.navLink__column {
    display: flex;
    flex-direction: column;
    width: 20em;
    align-items: flex-start;
    gap: .5em;
}

.navLink__text,
.navLink__link {
    all: unset;
    font-weight: 500;
    cursor: pointer;
}

.navLink__text {
    font-size: 2.3rem;
    color: var(--black);
}

.navLink__link {
    font-size: 1.5rem;
    color: white;
    background-color: var(--primary);
    padding: .3em .8em;
    border-radius: 150px;
    transition: var(--transition);
}

.navLink__link:hover {
    background-color: var(--primary-hover);
}

.chat__messages {
    padding: 2em;
    max-height: 30em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.chat__message {
    font-size: 2rem;
    color: white;
    width: fit-content;
    max-width: 47ch;
    padding: .5em;
    border-radius: 20px;
}

.chat__message_notMine {
    background-color: var(--secondary);
    text-align: left;
    align-self: flex-start;
}

.chat__message_mine {
    background-color: var(--primary);
    text-align: right;
    align-self: flex-end;
}

.chat__form {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 1em;
}

.form__input {
    width: 100%;
    font-size: 2rem;
    background-color: var(--primary-light);
    padding: .3em;
    border-radius: 150px;
    border: none;
}

.form__button {
    all: unset;
    display: grid;
    place-items: center;
    color: var(--primary);
    font-size: 3rem;
    cursor: pointer;
    transition: var(--transition);
}

.form__button:hover {
    color: var(--primary-hover);
}

.main__noResults {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background-color: rgba(255, 0, 0, .7);
    width: 80%;
    text-align: center;
    margin: 1.5em auto;
    padding: 1em;
    border-radius: 30px;
}

@media(max-width:600px) {
    .main__noResults {
        font-size: 2rem;
        width: 95%;
    }

    .main__nav {
        gap: 1em;
    }

    .navLink__column {
        width: 13em;
    }

    .navLink__text {
        font-size: 1.8rem;
    }

    .navLink__link {
        font-size: 1rem;
    }

    .navLink__img {
        width: 75px;
        height: 75px;
    }

    .chat__messages {
        padding: 1em;
    }

    .chat__form {
        gap: .8em;
        padding: .5em;
    }

    .chat__message,
    .form__input {
        font-size: 1.4rem;
    }

    .form__button {
        font-size: 2.5rem;
    }
}