### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule homepage index.php
RewriteRule logowanie ekran-logowania.php
RewriteRule rejestracja ekran-rejestracji.php
RewriteRule profile profile.php
RewriteRule ustawienia settings.php
RewriteRule bezpieczenstwo security.php
RewriteRule dwuetapowe 2el-verify-login.php
RewriteRule wsparcie support.php
RewriteRule zapisane bookmarks.php
RewriteRule znajomi friends.php
RewriteRule powiadomienia notifications.php