.main {
    padding: 2em;
}

.main__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 2em;
    row-gap: 3em;
}

.main__tile {
    width: 90%;
}

@media(max-width:850px) {
    .main__grid {
        grid-template-columns: 1fr;
    }
}

@media(max-width:400px) {
    .main__tile {
        width: 100%;
    }

    .main {
        padding: 1em;
    }
}