@keyframes ldioQn8zjwhqda8 {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldioQn8zjwhqda8 div {
    left: 92.86999999999999px;
    top: 61.495px;
    position: absolute;
    animation: ldioQn8zjwhqda8 linear 1.1363636363636365s infinite;
    background: #800080;
    width: 65.25999999999999px;
    height: 27.61px;
    border-radius: 32.629999999999995px / 13.805px;
    transform-origin: 32.629999999999995px 64.005px;
}

.ldioQn8zjwhqda8 div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1247680890538034s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(2) {
    transform: rotate(3.673469387755102deg);
    animation-delay: -1.1131725417439704s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(3) {
    transform: rotate(7.346938775510204deg);
    animation-delay: -1.1015769944341374s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(4) {
    transform: rotate(11.020408163265307deg);
    animation-delay: -1.0899814471243043s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(5) {
    transform: rotate(14.693877551020408deg);
    animation-delay: -1.0783858998144713s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(6) {
    transform: rotate(18.367346938775512deg);
    animation-delay: -1.0667903525046383s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(7) {
    transform: rotate(22.040816326530614deg);
    animation-delay: -1.0551948051948052s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(8) {
    transform: rotate(25.714285714285715deg);
    animation-delay: -1.0435992578849722s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(9) {
    transform: rotate(29.387755102040817deg);
    animation-delay: -1.0320037105751392s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(10) {
    transform: rotate(33.06122448979592deg);
    animation-delay: -1.0204081632653061s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(11) {
    transform: rotate(36.734693877551024deg);
    animation-delay: -1.0088126159554731s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(12) {
    transform: rotate(40.40816326530612deg);
    animation-delay: -0.9972170686456401s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(13) {
    transform: rotate(44.08163265306123deg);
    animation-delay: -0.9856215213358072s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(14) {
    transform: rotate(47.755102040816325deg);
    animation-delay: -0.9740259740259741s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(15) {
    transform: rotate(51.42857142857143deg);
    animation-delay: -0.9624304267161411s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(16) {
    transform: rotate(55.10204081632653deg);
    animation-delay: -0.9508348794063081s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(17) {
    transform: rotate(58.775510204081634deg);
    animation-delay: -0.939239332096475s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(18) {
    transform: rotate(62.44897959183673deg);
    animation-delay: -0.927643784786642s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(19) {
    transform: rotate(66.12244897959184deg);
    animation-delay: -0.916048237476809s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(20) {
    transform: rotate(69.79591836734694deg);
    animation-delay: -0.9044526901669759s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(21) {
    transform: rotate(73.46938775510205deg);
    animation-delay: -0.8928571428571429s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(22) {
    transform: rotate(77.14285714285714deg);
    animation-delay: -0.8812615955473099s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(23) {
    transform: rotate(80.81632653061224deg);
    animation-delay: -0.8696660482374768s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(24) {
    transform: rotate(84.48979591836735deg);
    animation-delay: -0.8580705009276438s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(25) {
    transform: rotate(88.16326530612245deg);
    animation-delay: -0.8464749536178108s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(26) {
    transform: rotate(91.83673469387755deg);
    animation-delay: -0.8348794063079777s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(27) {
    transform: rotate(95.51020408163265deg);
    animation-delay: -0.8232838589981447s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(28) {
    transform: rotate(99.18367346938776deg);
    animation-delay: -0.8116883116883117s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(29) {
    transform: rotate(102.85714285714286deg);
    animation-delay: -0.8000927643784788s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(30) {
    transform: rotate(106.53061224489795deg);
    animation-delay: -0.7884972170686457s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(31) {
    transform: rotate(110.20408163265306deg);
    animation-delay: -0.7769016697588127s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(32) {
    transform: rotate(113.87755102040816deg);
    animation-delay: -0.7653061224489797s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(33) {
    transform: rotate(117.55102040816327deg);
    animation-delay: -0.7537105751391466s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(34) {
    transform: rotate(121.22448979591837deg);
    animation-delay: -0.7421150278293136s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(35) {
    transform: rotate(124.89795918367346deg);
    animation-delay: -0.7305194805194806s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(36) {
    transform: rotate(128.57142857142858deg);
    animation-delay: -0.7189239332096475s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(37) {
    transform: rotate(132.24489795918367deg);
    animation-delay: -0.7073283858998145s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(38) {
    transform: rotate(135.91836734693877deg);
    animation-delay: -0.6957328385899815s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(39) {
    transform: rotate(139.59183673469389deg);
    animation-delay: -0.6841372912801484s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(40) {
    transform: rotate(143.26530612244898deg);
    animation-delay: -0.6725417439703154s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(41) {
    transform: rotate(146.9387755102041deg);
    animation-delay: -0.6609461966604824s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(42) {
    transform: rotate(150.6122448979592deg);
    animation-delay: -0.6493506493506493s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(43) {
    transform: rotate(154.28571428571428deg);
    animation-delay: -0.6377551020408163s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(44) {
    transform: rotate(157.9591836734694deg);
    animation-delay: -0.6261595547309834s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(45) {
    transform: rotate(161.6326530612245deg);
    animation-delay: -0.6145640074211504s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(46) {
    transform: rotate(165.30612244897958deg);
    animation-delay: -0.6029684601113173s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(47) {
    transform: rotate(168.9795918367347deg);
    animation-delay: -0.5913729128014843s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(48) {
    transform: rotate(172.6530612244898deg);
    animation-delay: -0.5797773654916513s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(49) {
    transform: rotate(176.3265306122449deg);
    animation-delay: -0.5681818181818182s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(50) {
    transform: rotate(180deg);
    animation-delay: -0.5565862708719852s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(51) {
    transform: rotate(183.6734693877551deg);
    animation-delay: -0.5449907235621522s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(52) {
    transform: rotate(187.3469387755102deg);
    animation-delay: -0.5333951762523191s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(53) {
    transform: rotate(191.0204081632653deg);
    animation-delay: -0.5217996289424861s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(54) {
    transform: rotate(194.69387755102042deg);
    animation-delay: -0.5102040816326531s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(55) {
    transform: rotate(198.3673469387755deg);
    animation-delay: -0.49860853432282004s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(56) {
    transform: rotate(202.0408163265306deg);
    animation-delay: -0.48701298701298706s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(57) {
    transform: rotate(205.71428571428572deg);
    animation-delay: -0.47541743970315403s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(58) {
    transform: rotate(209.3877551020408deg);
    animation-delay: -0.463821892393321s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(59) {
    transform: rotate(213.0612244897959deg);
    animation-delay: -0.45222634508348797s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(60) {
    transform: rotate(216.73469387755102deg);
    animation-delay: -0.44063079777365494s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(61) {
    transform: rotate(220.40816326530611deg);
    animation-delay: -0.4290352504638219s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(62) {
    transform: rotate(224.08163265306123deg);
    animation-delay: -0.4174397031539889s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(63) {
    transform: rotate(227.75510204081633deg);
    animation-delay: -0.40584415584415584s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(64) {
    transform: rotate(231.42857142857142deg);
    animation-delay: -0.39424860853432286s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(65) {
    transform: rotate(235.10204081632654deg);
    animation-delay: -0.38265306122448983s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(66) {
    transform: rotate(238.77551020408163deg);
    animation-delay: -0.3710575139146568s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(67) {
    transform: rotate(242.44897959183675deg);
    animation-delay: -0.35946196660482377s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(68) {
    transform: rotate(246.12244897959184deg);
    animation-delay: -0.34786641929499074s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(69) {
    transform: rotate(249.79591836734693deg);
    animation-delay: -0.3362708719851577s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(70) {
    transform: rotate(253.46938775510205deg);
    animation-delay: -0.3246753246753247s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(71) {
    transform: rotate(257.14285714285717deg);
    animation-delay: -0.3130797773654917s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(72) {
    transform: rotate(260.81632653061223deg);
    animation-delay: -0.30148423005565866s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(73) {
    transform: rotate(264.48979591836735deg);
    animation-delay: -0.28988868274582563s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(74) {
    transform: rotate(268.16326530612247deg);
    animation-delay: -0.2782931354359926s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(75) {
    transform: rotate(271.83673469387753deg);
    animation-delay: -0.26669758812615957s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(76) {
    transform: rotate(275.51020408163265deg);
    animation-delay: -0.25510204081632654s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(77) {
    transform: rotate(279.18367346938777deg);
    animation-delay: -0.24350649350649353s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(78) {
    transform: rotate(282.85714285714283deg);
    animation-delay: -0.2319109461966605s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(79) {
    transform: rotate(286.53061224489795deg);
    animation-delay: -0.22031539888682747s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(80) {
    transform: rotate(290.2040816326531deg);
    animation-delay: -0.20871985157699444s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(81) {
    transform: rotate(293.8775510204082deg);
    animation-delay: -0.19712430426716143s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(82) {
    transform: rotate(297.55102040816325deg);
    animation-delay: -0.1855287569573284s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(83) {
    transform: rotate(301.2244897959184deg);
    animation-delay: -0.17393320964749537s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(84) {
    transform: rotate(304.8979591836735deg);
    animation-delay: -0.16233766233766234s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(85) {
    transform: rotate(308.57142857142856deg);
    animation-delay: -0.15074211502782933s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(86) {
    transform: rotate(312.2448979591837deg);
    animation-delay: -0.1391465677179963s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(87) {
    transform: rotate(315.9183673469388deg);
    animation-delay: -0.12755102040816327s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(88) {
    transform: rotate(319.59183673469386deg);
    animation-delay: -0.11595547309833025s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(89) {
    transform: rotate(323.265306122449deg);
    animation-delay: -0.10435992578849722s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(90) {
    transform: rotate(326.9387755102041deg);
    animation-delay: -0.0927643784786642s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(91) {
    transform: rotate(330.61224489795916deg);
    animation-delay: -0.08116883116883117s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(92) {
    transform: rotate(334.2857142857143deg);
    animation-delay: -0.06957328385899815s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(93) {
    transform: rotate(337.9591836734694deg);
    animation-delay: -0.057977736549165125s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(94) {
    transform: rotate(341.6326530612245deg);
    animation-delay: -0.0463821892393321s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(95) {
    transform: rotate(345.3061224489796deg);
    animation-delay: -0.034786641929499075s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(96) {
    transform: rotate(348.9795918367347deg);
    animation-delay: -0.02319109461966605s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(97) {
    transform: rotate(352.6530612244898deg);
    animation-delay: -0.011595547309833025s;
    background: #800080;
}

.ldioQn8zjwhqda8 div:nth-child(98) {
    transform: rotate(356.3265306122449deg);
    animation-delay: 0s;
    background: #800080;
}

.loadingioSpinnerSpinner2414h4ohg3c {
    width: 251px;
    height: 251px;
    display: block;
    overflow: hidden;
    background: #ffffff;
    margin: 4em auto;
}

.ldioQn8zjwhqda8 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldioQn8zjwhqda8 div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */