.main {
    padding: 1em;
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.5em;
    min-height: 50em;
}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    height: 170px;
    padding: .5em;
    width: 90%;
}

.order__img {
    width: 240px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.order__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: .3em;
    width: 30%;
}

.order__title {
    font-size: 2rem;
}

.order__quantity {
    font-size: 1.8rem;
    color: var(--black-65);
}

.order__price {
    font-size: 1.8rem;
    font-weight: bold;
}

.order__button {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .3em;
    cursor: pointer;
    text-decoration: none;
    color: var(--black-65);
    font-family: inherit;
    font-weight: bold;
}

.order__icon {
    font-size: 3.3rem;
    color: var(--primary);
}

.order__button__text {
    font-size: 1.7rem;
    max-width: 20ch;
    line-height: 1.5;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 1em;
    margin-top: 3em;
}

.pagination__button {
    font-size: 3rem;
    display: grid;
    place-items: center;
    padding: .3em;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
    transition: var(--transition);
}

.pagination__button_disabled {
    cursor: not-allowed;
    background-color: gray;
}

.pagination__button:not(.pagination__button_disabled):hover,
.pagination__button:not(.pagination__button_disabled):focus {
    background-color: var(--secondary-hover);
}

.pagination__numbers {
    position: relative;
    min-width: 6em;
    height: 5em;
}

.pagination__number {
    font-size: 2rem;
    font-weight: bold;
}

.pagination__number_current {
    position: absolute;
    top: 5%;
    left: 5%;
}

.pagination__number_total {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.pagination__line {
    width: 2px;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    rotate: 45deg;
}

.noResults {
    font-size: 3rem;
    color: white;
    background-color: rgba(255, 0, 0, .7);
    width: fit-content;
    margin: 3em auto;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    border-radius: 30px;
}

.reportOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1000;
}

.report {
    z-index: 1001;
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border-radius: 30px;
    width: 80%;
}

.report__input,
.report__textarea {
    font-size: 1.8rem;
    padding: .3em;
    border: 3px solid var(--secondary);
    box-shadow: 5px 5px 5px 0px var(--secondary);
    font-family: inherit;
    width: 100%;
}

.report__input {
    border-radius: 150px;
}

.report__textarea {
    border-radius: 20px;
    resize: none;
}

.report__button {
    font-size: 2rem;
    font-family: inherit;
    padding: .3em .8em;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 150px;
    width: 80%;
    cursor: pointer;
    transition: var(--transition);
}

.report__button:hover,
.report__button:focus {
    background-color: var(--primary-hover);
}

.report__error {
    font-size: 1.8rem;
    color: red;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
}

@media(max-width:920px) {
    .main {
        padding-left: 6em;
    }

    .order {
        flex-direction: column;
        height: auto;
    }

    .order__img {
        height: 100%;
        width: 90%;
    }

    .order__data {
        align-items: center;
        text-align: center;
        gap: 1em;
        width: 100%;
    }
}

@media(max-width:500px) {
    .report {
        width: 90%;
        padding: 1em;
        gap: 1.5em;
    }

    .report__input,
    .report__textarea,
    .report__error {
        font-size: 1.4rem;
    }

    .report__button {
        font-size: 1.7rem;
        width: 100%;
    }
}

@media(max-width:450px) {
    .pagination {
        gap: .1em;
    }

    .pagination__button {
        font-size: 2rem;
    }

    .pagination__number {
        font-size: 1.3rem;
    }

    .main {
        padding-left: 3em;
    }

    .order__title {
        font-size: 1.7rem;
    }

    .order__quantity,
    .order__price {
        font-size: 1.5rem;
    }

    .order__icon {
        font-size: 2.8rem;
    }

    .order__button__text {
        font-size: 1.5rem;
    }
}