.input {
    font-size: 2.3rem;
    border: 3px solid var(--primary);
    padding: .3em;
    width: 9em;
}

@media(max-width:500px) {
    .input {
        font-size: 1.7rem;
    }
}

@media(max-width:310px) {
    .input {
        width: 100%;
    }
}